/* Add screen styles below */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #353535;
    color: #ffffff;
}

#hero {
    background-color: #B5B5B5;
    color: #353535;
    margin: 0px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 72px;
}

#intro{
    margin: 0px;
    width: 1010px;
    text-align: center;
    word-wrap: normal;
    position: relative;
    top: 50px;
    left: 250px;
    font-size: 72px;
}

.card{
    display: flex;
    margin: 0px;
}

h2 {
    font-size: 48px;
    margin: 0px;
    padding-top: 120px;
    
}

p{
    width: 650px;
    text-align: left;
    word-wrap: normal;
    margin: 0px;
    padding-top: 35px;
    font-size: 24px;
}

img {
    padding-right: 35px;
    padding-left: 250px;
    padding-top: 120px;
}